In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r'C:\Ran\Berkeley\IEOR\290\Project\Data\New Data\newdata1.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,ID,Birth Year,Gender Flag,Skillset1,Skillset1 Weight,Skillset2,Skillset2 Weight,City of profile,...,Length,Role,Dept,Location,Industry,Layoff Date,Company Name,Employees Affected,laid_off,Age
0,0,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,...,61.0,?,NaN,"milpitas, ca",Manufacturing,10/23/2015,"Western Digital Technologies, Inc.",56,0,21
1,1,1,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,...,61.0,?,NaN,"milpitas, ca",Manufacturing,10/24/2016,"Western Digital Technologies, Inc.",59,0,21
2,2,2,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,...,61.0,?,NaN,"milpitas, ca",Manufacturing,6/17/2016,"Western Digital Technologies, Inc.",71,0,21
3,3,3,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,...,61.0,?,NaN,"milpitas, ca",Manufacturing,7/3/2016,"Western Digital Technologies, Inc.",337,0,21
4,4,4,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,Web Development,0.874223,Software Engineering,0.075843,NaN,...,61.0,?,NaN,"milpitas, ca",Manufacturing,8/27/2018,"Western Digital Technologies, Inc.",79,0,21

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110082 entries, 0 to 110081
Data columns (total 25 columns):
Unnamed: 0            110082 non-null int64
Unnamed: 0.1          110082 non-null int64
ID                    110082 non-null object
Birth Year            110082 non-null int64
Gender Flag           110082 non-null int64
Skillset1             110082 non-null object
Skillset1 Weight      110082 non-null float64
Skillset2             110082 non-null object
Skillset2 Weight      110082 non-null float64
City of profile       99845 non-null object
Country of profile    110082 non-null object
Education             110082 non-null int64
Elite Institution     110082 non-null int64
Start Date            110082 non-null object
End Date              110082 non-null object
Length                110069 non-null float64
Role                  110082 non-null object
Dept                  68867 non-null object
Location              60438 non-null object
Industry              110082 non-null object
Layoff Date           110082 non-null object
Company Name          110082 non-null object
Employees Affected    110082 non-null int64
laid_off              110082 non-null int64
Age                   110082 non-null int64
dtypes: float64(3), int64(9), object(13)
memory usage: 21.0+ MB

In [6]:
# drop useless features
data = data.drop(['Dummy1','Dummy2','Dummy3','Dummy4','EliteFlag','DegreeType','EducationFlag','PublicFlag','Exchange','Ticker','Company_Norm','Company','StartFlag','EndFlag','CurrentEmployFlag','Unnamed: 0'],axis = 1)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131484 entries, 0 to 131483
Data columns (total 22 columns):
ID                    131484 non-null object
Birth Year            131484 non-null object
Gender Flag           131484 non-null int64
Skillset1             131484 non-null object
Skillset1 Weight      131484 non-null float64
Skillset2             131484 non-null object
Skillset2 Weight      131484 non-null float64
City of profile       119068 non-null object
Country of profile    131484 non-null object
Education             131484 non-null int64
Elite Institution     131484 non-null bool
Start Date            131484 non-null object
End Date              131484 non-null object
Length                131471 non-null float64
Role                  131484 non-null object
Dept                  84820 non-null object
Location              85229 non-null object
Industry              119261 non-null float64
Layoff Date           131484 non-null object
Company Name          131484 non-null object
Employees Affected    131484 non-null int64
laid_off              131484 non-null int64
dtypes: bool(1), float64(4), int64(4), object(13)
memory usage: 21.2+ MB

# Feature Engineering

## Age

In [8]:
# convert birth year to age
# count how many None in Birth Year
data[['Birth Year']].eq('None').sum()

Birth Year    97
dtype: int64

In [9]:
# Delete the rows where birth year = None and convert to age
data = data[data['Birth Year']!='None']
data['Age'] = 2018 - data['Birth Year'].astype('int')

## Elite Institute

In [10]:
# convert true and flase to 1 and 0
data['Elite Institution'] = data['Elite Institution'].astype('uint8')

## Skillset

In [11]:
data['Skillset1'] = data['Skillset1'].astype(str)
data['Skillset2'] = data['Skillset2'].astype(str)

In [12]:
data.loc[data['Skillset1'].str.contains('Human Resources',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Human Resources',case = False),'Skillset2'] = 'Human Resources'
data.loc[data['Skillset1'].str.contains('Coaching',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Coaching',case = False),'Skillset2'] = 'Human Resources'
data.loc[data['Skillset1'].str.contains('Education',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Education',case = False),'Skillset2'] = 'Human Resources'
data.loc[data['Skillset1'].str.contains('Recruiting',case = False),'Skillset1'] = 'Human Resources'
data.loc[data['Skillset2'].str.contains('Recruiting',case = False),'Skillset2'] = 'Human Resources'

In [13]:
data.loc[data['Skillset1'].str.contains('Sales' or 'CRM',case = False),'Skillset1'] = 'Sales'
data.loc[data['Skillset2'].str.contains('Sales' or 'CRM',case = False),'Skillset2'] = 'Sales'

In [14]:
data.loc[data['Skillset1'].str.contains('Construction',case = False),'Skillset1'] = 'Industrial Management'
data.loc[data['Skillset2'].str.contains('Construction',case = False),'Skillset2'] = 'Industrial Management'

In [15]:
data.loc[data['Skillset1'].str.contains('Product Management',case = False),'Skillset1'] = 'Product Management'
data.loc[data['Skillset2'].str.contains('Product Management',case = False),'Skillset2'] = 'Product Management'

In [16]:
data.loc[data['Skillset1'].str.contains('Middle Management',case = False),'Skillset1'] = 'Administration'
data.loc[data['Skillset2'].str.contains('Middle Management',case = False),'Skillset2'] = 'Administration'

In [17]:
data.loc[data['Skillset1'].str.contains('Pharmaceutical',case = False),'Skillset1'] = 'Healthcare'
data.loc[data['Skillset2'].str.contains('Pharmaceutical',case = False),'Skillset2'] = 'Healthcare'

In [18]:
data.loc[data['Skillset1'].str.contains('Accounting',case = False),'Skillset1'] = 'Finance'
data.loc[data['Skillset2'].str.contains('Accounting',case = False),'Skillset2'] = 'Finance'
data.loc[data['Skillset1'].str.contains('Banking',case = False),'Skillset1'] = 'Finance'
data.loc[data['Skillset2'].str.contains('Banking',case = False),'Skillset2'] = 'Finance'

In [19]:
data.loc[data['Skillset1'].str.contains('Graphic',case = False),'Skillset1'] = 'Design'
data.loc[data['Skillset2'].str.contains('Graphic',case = False),'Skillset2'] = 'Design'
data.loc[data['Skillset1'].str.contains('Visual',case = False),'Skillset1'] = 'Design'
data.loc[data['Skillset2'].str.contains('Visual',case = False),'Skillset2'] = 'Design'

In [20]:
data['Skillset1'].unique()

array(['Web Development', 'Web Design', 'Administration',
       'Software Engineering', 'Data Analysis', 'Human Resources',
       'Finance', 'Product Management', 'Sales', 'Electrical Engineering',
       'Digital Marketing', 'Mobile Telecommunications', 'Legal',
       'Operations Management', 'Healthcare', 'Design',
       'Manufacturing and Process Management', 'Business Development',
       'Hospitality', 'Real Estate', 'Retail and Fashion', 'Logistics',
       'Video and Film Production', 'Insurance',
       'IT Management and Support', 'Social Media and Communications',
       'Non-Profit and Community', 'Military', 'Musical Production',
       'Public Policy', 'Industrial Management', 'Energy, Oil, and Gas'],
      dtype=object)

In [21]:
data['Skillset2'].unique()

array(['Software Engineering', 'Digital Marketing', 'Real Estate',
       'Web Development', 'Administration', 'Design', 'Data Analysis',
       'Mobile Telecommunications', 'Sales', 'IT Management and Support',
       'Business Development', 'Logistics', 'Human Resources', 'Finance',
       'Web Design', 'Video and Film Production',
       'Non-Profit and Community', 'Electrical Engineering', 'Healthcare',
       'Operations Management', 'Product Management',
       'Manufacturing and Process Management', 'Insurance',
       'Social Media and Communications', 'Retail and Fashion', 'Legal',
       'Hospitality', 'Military', 'Musical Production',
       'Industrial Management', 'Public Policy', 'Energy, Oil, and Gas'],
      dtype=object)

In [4]:
# Enode skill set
# use one-hot encoding to encode skillsets
encodeSkill1 = pd.get_dummies(data['Skillset1'], prefix = 's1', prefix_sep='-')
encodeSkill2 = pd.get_dummies(data['Skillset2'], prefix = 's2', prefix_sep='-') 
data = data.drop(['Skillset1','Skillset2'], axis = 1)
data = data.join(encodeSkill1) 
data = data.join(encodeSkill2)
data.head()

,Unnamed: 0,Unnamed: 0.1,ID,Birth Year,Gender Flag,Skillset1 Weight,Skillset2 Weight,City of profile,Country of profile,Education,...,s2-Product Management,s2-Public Policy,s2-Real Estate,s2-Retail and Fashion,s2-Sales,s2-Social Media and Communications,s2-Software Engineering,s2-Video and Film Production,s2-Web Design,s2-Web Development
0,0,0,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,...,0,0,0,0,0,0,1,0,0,0
1,1,1,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,...,0,0,0,0,0,0,1,0,0,0
2,2,2,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,...,0,0,0,0,0,0,1,0,0,0
3,3,3,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,...,0,0,0,0,0,0,1,0,0,0
4,4,4,3095f7eb-b536-39ca-8bd4-949a290deed9,1997,2,0.874223,0.075843,NaN,United States,4,...,0,0,0,0,0,0,1,0,0,0

In [5]:
data.to_csv(r'C:\Ran\Berkeley\IEOR\290\Project\Data\New Data\newData2.csv')